<h1>Create a Game to View</h1>

<%# <% if @game.errors.any? %>
  <%#<div id="error_explanation">
    <h2><%= pluralize(@game.errors.count, "error") %> <%#prohibited this article from being saved:</h2>

    <%#<ul>
      <% @game.errors.each do |error| %>
        <%#<li><%= error.full_message %> <%#</li>
      <%#<% end %>
   <%# </ul>
  </div>
<% end %>

<%=render partial: 'form'%>
<%= form_with games: @game do |f|%>
  <% end %>